.contact_map {
  .socials {
    a {
      font-size: 1.2rem;
      transition: all 0.15s ease-in-out;
      font-size: 1.4rem;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .open.card,
  .contact.card {
    height: auto;
    a {
      text-decoration: none;
      color: var(--col-secondary);
      &:hover {
        opacity: 0.8;
      }
      // box-shadow: inset 0 0 0 0 $red-400;
      // margin: 0 -.25rem;
      // padding: 0 .25rem;
      // transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      // &:hover {
      //     box-shadow: inset 200px 0 0 0 $red-400;
      //     color: white;
      // }
    }
  }
  .map.card {
    min-height: 300px;
  }
}
