.hero {
  min-height: 500px;
  display: flex;
  align-items: center;
  background-color: var(--col-grey-100);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 1200px) {
    background-position: center 80%;
  }
  @media (min-width: 1200px) {
    background-position: center 40%;
  }
}
