.hero {
  height: 500px;
  background-color: var(--col-grey-100);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}
