.hero {
  min-height: 500px;
  display: flex;
  align-items: center;
  background-color: var(--col-grey-100);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}
