.latest-insights {
	&__card {
		display: flex;
		flex-direction: column;
		height: 100%;
		text-decoration: none;
		border-radius: var(--radius-lg);
		overflow: hidden;
		background-color: var(--col-grey-100);
		box-shadow: var(--shadow-2);
		transition: transform var(--transition), box-shadow var(--transition),
			background-color var(--transition);
		&:hover {
			transform: translateY(2px);
			box-shadow: var(--shadow-1);
		}
	}
	&__image-container {
		width: 100%;
		overflow: hidden;
		flex-shrink: 0;
	}
	&__image {
		aspect-ratio: 4 / 3;
		width: 100%;
		object-fit: cover;
		transition: transform var(--transition);
		.latest-insights__card:hover & {
			transform: scale(1.05);
		}
	}
	&__card-content {
		padding: 1rem;
		color: var(--col-black);
	}
	&__card-meta {
		font-size: var(--fs-300);
		margin-bottom: 0.5rem;
		color: var(--col-blue-400);
		display: flex;
		gap: 1rem;
	}
	&__card-title {
		font-size: var(--fs-500);
	}
}