.lc-blog-cta {
	border-radius: var(--radius-lg);
	box-shadow: var(--shadow-1);
	padding: 2rem;
	text-align: center;
	margin-top: 3rem;

	h2 {
		font-size: var(--fs-600);
		margin-bottom: 1rem;
	}

	p {
		font-size: var(--fs-400);
		margin-bottom: 1.5rem;
	}
}