@import "typography";
@import "buttons";
@import "header";
@import "footer";
@import "blocks/blocks";
@import "blog";

// * {
//     outline: 1px solid red;
// }

// Adjust fixed header when admin bar is present
.admin-bar header.fixed-top {
  top: 32px; // Admin bar height
}

main {
  margin-top: 62px;
  // margin-top: 113px;
  @media (min-width: 1200px) {
    margin-top: 90px;
  }
  position: relative;
}

a.noline {
  text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

hr {
  color: var(--col-grey-100);
  opacity: 1;
}

.mw-95ch {
  max-width: 95ch;
}
.mw-80ch {
  max-width: 80ch;
  margin: auto;
}
.mw-65ch {
  max-width: 65ch;
}
.mw-50ch {
  max-width: 50ch;
}

.cols-lg-2 {
  @media (min-width: 992px) {
    columns: 2;
  }
}

// bread
.page-meta {
  font-size: 0.8rem;
  #breadcrumbs {
    img {
      max-width: 22px;
    }
  }
}

// map
.map {
  iframe {
    display: block;
  }
}


:where(.wp-block-columns.has-background) {
  padding: 0;
}

.wp-block-columns.breakout {
  margin-bottom: 0;
}

.fa-ul {
  margin-left: 1.5rem;
}

.lc-table {
    border: 1px solid var(--col-blue-700);
    th {
        background-color: var(--col-blue-700);
        color: white;
        font-weight: 600;
        width: 1%;
        white-space: nowrap;
    }
    tr :not(:first-child) {
        text-align: center;
    }
    td {
        border-width: 1px;
        background-color: var(--col-white);
    }
}