#navbar {
  max-width: 100vw;
  
  #top-nav {
    padding-bottom: 0.5rem;
    font-size: 0.889rem;

    background-color: white;
    .navbar-brand {
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      background-image: url(../img/iology-logo--colour.svg);
      width: 188px;
      height: 64px;
      margin-right: 2rem;
    }
    .navbar-toggler {
      color: var(--col-blue-700);
      margin-right: 1rem;
      
      // Toggle icon visibility based on collapsed state
      .close-icon {
        display: none;
      }
      
      &:not(.collapsed) {
        .navbar-icon {
          display: none;
        }
        .close-icon {
          display: block;
        }
      }
    }
    
    .contacts {
      a {
        color: var(--col-blue-400);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  
  #main-nav {
    background-color: white;
    height: 1rem;
    .container-xl {
      position: relative;
    }

    #primaryNav {
      @media (min-width: 1200px) {
        position: absolute;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        inset: 0;

        height: 2rem;
        display: flex;
        justify-content: space-between;
      }
      background-color: white;

      // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      box-shadow:
        rgba(0, 0, 0, 0.12) 0px 10px 20px,
        rgba(0, 0, 0, 0.24) 0px 6px 6px;

      .navbar-nav {
        li.current-menu-item > a,
        li.current-page-ancestor > a {
          color: var(--col-secondary);
        }
      }

      .nav-link {
        padding: 1rem;
        font-size: 1.2rem;
        @media (min-width: 768px) {
          padding: 0.5rem 1rem;
          font-size: 1rem;
        }
        @media (min-width: 1200px) {
          padding: 0.25rem 1rem;
          // font-size: 0.889rem;
        }
        font-weight: 600;
        color: var(--col-blue-700);
        transition: opacity 0.15s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
