$col-primary: hsl(209, 26%, 60%); // $blue-400
$col-dark: hsl(209, 77%, 19%); // $blue-700
$col-darkest: hsl(209, 26%, 97%); // $blue-50
$col-light: #f3f8f6; // $grey-100

:root {
  --col-white: #ffffff;
  --col-black: #0f110c;
  --col-ivory: var(--col-white);

  --col-blue-50: hsl(209, 26%, 97%);
  --col-blue-100: hsl(209, 26%, 78%);
  --col-blue-400: hsl(209, 26%, 60%);
  --col-blue-700: hsl(209, 77%, 19%);

  --col-primary: var(--col-blue-400);
  --col-primary-dark: var(--col-blue-700);
  --col-primary-light: var(--col-blue-100);

  --col-secondary: #e5393d;

  --col-grey-100: #f3f8f6;
  --col-grey-200: #d5e5e1;

  --ff-body:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-headings:
    "Marcellus", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 400;
  --fw-800: 400;

  --fs-300: 14px;
  --fs-350: 16px;
  --fs-400: 18px;
  --fs-500: 22px;
  --fs-600: 32px;
  --fs-700: 42px;
  --fs-800: 60px;
  --fs-900: clamp(3.333rem, 2.475vw + 2.797rem, 4.722rem);

  --lh-normal: 1.5;
  --lh-700: 1.3;
  --lh-800: 1.2;
  --lh-900: 1.1;

  --ls-900: 0.02em;

  --h-top-mobile: 75px;
  --h-top: 110px;

  --transition: 200ms ease-in-out;

  --radius-lg: 1rem;
  --radius-sm: 0.5rem;

  --shadow-1: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  --shadow-2: rgba(0, 0, 0, 0.12) 0px 8px 24px;
}
